POSTGRES_USER=UsuarioPostgres
POSTGRES_PASSWORD=ClavePostgres
POSTGRES_DB=BD_Postgres
POSTGRES_PORT=5432
POSTGRES_HOST=NombreServicio

PGADMIN_DEFAULT_EMAIL=CorreoPGAdmin
PGADMIN_DEFAULT_PASSWORD=ClavePGAdmin
PGADMIN_PORT=5050

N8N_DOMAIN=DominioLocal
N8N_PORT=5678
